
{% extends "base.html" %}
{% load static %}

{% block head %}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f8f9fa;
        color: #333;
    }

    .container {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        margin-top: 50px;
    }

    h2 {
        color: #0056b3;
        text-align: center;
    }

    p {
        font-size: 16px;
        line-height: 1.6;
        color: #666;
    }

    a {
        color: #0056b3;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    /* Добавляем немного отступа вокруг кнопок и форм */
    form {
        margin-top: 20px;
    }

    button.submit-btn {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    button.submit-btn:hover {
        background-color: #0056b3;
    }
</style>
{% endblock %}


{% block content %}
<div class="container mt-5">
    <h2>Сіздің тапсырысыңыздың күйі: {{ order.get_status_display }}</h2>
    <p>Тапсырыс нөмірі: {{ order.id }}</p>
    <p>Аяқтау күні: {{ order.completion_date|date:"d M Y" }}</p>
    <p>Сипаттама: {{ order.description }}</p>
</div>
{% endblock %}
